<button (click)="isShown = !isShown">toggle element</button>
<p @showState *ngIf="isShown">You can now see this</p>
<button (click)="width = width - 50">Shrink</button>
<button (click)="animate = !animate">Animate Me</button>
<p
  [@animateState]="
    animate ? 'someAnimatedBogusState' : 'SomeOtherNonAnimatedBogusState'
  "
  [ngStyle]="{ 'width.px': width }"
>
  Shrink me
</p>
<br />
<button (click)="onAddElement()">add element</button>
<div
  @listState2
  (@listState2.start)="onAnimationStart($event)"
  (@listState2.done)="onAnimationDone($event)"
  *ngFor="let res of testresults"
  class="test-result"
>
  {{ res }}
</div>

