:host {
  display: block;
}
.projects__list {
  display: flex;
  flex-direction: column;
}

app-project {
  height: 100%;
  width: 100%;
}

.loading-bar {
  width: 100%;
  height: 2.5rem;
  /* background: #3388aa; */
  overflow: hidden;
}
.loading-bar-element {
  width: 200%;
  height: 100%;
  background: linear-gradient(
    to left,
    rgba(33, 88, 120, 1) 0%,
    rgba(33, 88, 120, 0) 50%,
    rgba(33, 88, 120, 1) 100%
  );
  animation: spinner 0.4s linear alternate infinite;
}

@keyframes spinner {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

