/* .quote { */
/*   border: 1px solid black; */
/* } */

:host {
  display: block;
  /* by default elements are display: inline! */
  border: 1px solid black;
}

:host(.favourite) {
  border: 1px solid red;
}

:host-context(.boring) {
  border: 1px solid #ccc;
  color: #ccc;
}

/* :host-context(.boring) >>> { is different writing but equivalent */
:host-context(.boring) /deep/ {
  border: 1px solid blue;
  font-style: oblique;
}

h1 {
  color: red;
}

