:host {
  flex: 1 1 0;
  border: 3px solid blue;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: auto minmax(auto, 15rem) minmax(auto, 15rem);
  grid-template-areas:
    "header header header"
    "description description description"
    "select update delete";
  transition: border-color 0.3s ease-out;
}
:host(.inactive) {
  border-color: #ccc;
  color: #ccc;
  transition: border-color, color 0.3s ease-out;
}
:host(.critical) {
  border-color: red;
  transition: border-color 0.3s ease-out;
}
:host(.project__marked) {
  transition: border-color, background 0.4s ease-out;
  /* animation: mark 0.3s linear; */
}

select {
  grid-area: select;
}
.button__delete {
  grid-area: delete;
}

.button__update {
  grid-area: update;
}

.project__header {
  grid-area: header;
}

.project__description {
  grid-area: description;
}

/* @keyframes mark { */
/*   0% { */
/*   } */
/*   50% { */
/*     display: block; */
/*     /1* transform: perspective(100vh) translateZ(3rem); *1/ */
/*     transform: scale(1.02); */
/*   } */
/*   100% { */
/*     /1* transform: translateZ(0); *1/ */
/*     transform: scale(1); */
/*   } */
/* } */

