<h3 class="project__header">
  {{ project.name }}
  <!-- Show different usages of ngClass and ngStyle"-->
  <span #statusLabel class="label label-default">{{ project.status }}</span>
</h3>
<p class="project__description">{{ project.description }}</p>
<select #prjStatus class="form-control">
  <option value="active" [selected]="project.status === 'active'">
    Active
  </option>
  <option value="inactive" [selected]="project.status === 'inactive'">
    Inactive
  </option>
  <option value="critical" [selected]="project.status === 'critical'">
    Critical
  </option>
</select>
<button
  class="btn btn-primary button__update"
  (click)="onUpdateStatus(prjStatus.value)"
>
  Update Status
</button>
<button class="btn btn-danger button__delete" (click)="onDelete()">
  Delete Project
</button>

