<form (ngSubmit)="onCreateProject()" #f="ngForm" [@formState]="f.value">
  <div class="form-group">
    <label for="name" class="control-label">Name</label>
    <input
      type="text"
      id="name"
      ngModel
      name="name"
      class="form-control"
      required
    />
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input
      type="text"
      id="description"
      ngModel
      name="description"
      class="form-control"
      required
    />
  </div>
  <div class="form-group">
    <label for="status">Status</label>
    <select name="status" [ngModel]="'active'" id="status" class="form-control">
      <option
        *ngFor="let status of availableStatus"
        style="text-transform: capitalize"
        [value]="status"
      >
        {{ status }}
      </option>
    </select>
  </div>
  <button
    type="submit"
    [disabled]="!f.valid"
    [@buttonState]="f.valid ? 'valid' : 'invalid'"
    class="btn btn-success"
  >
    Create Project
  </button>
  <button type="button" class="btn btn-danger" (click)="onCancel()">
    Cancel
  </button>
</form>

