<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>{{ title }}</h1>

      <div class="interesting">
        <app-quote
          [ngClass]="{ favourite: isFavourite }"
          [ngStyle]="{ width: isFavourite ? '600px' : '300px' }"
          (click)="isFavourite = !isFavourite"
        ></app-quote>
        <app-author></app-author>
      </div>
      <button (click)="onShowBoring()" class="btn btn-primary">
        Show boring quotes
      </button>
      <div #boringBlock class="boring">
        <app-quote [ngClass]="{ favourite: isFavourite }"></app-quote>
        <app-author></app-author>
      </div>
    </div>
  </div>
</div>

