div {
  width: 10rem;
  height: 10rem;
  background: #aa00ff;
  opacity: 1;
  margin: 5rem;
}

.animate {
  animation: trans 0.8s 0.5s linear forwards;
}

@keyframes trans {
  0% {
    transform: translateX(-1rem);
  }
  50% {
    transform: translate(10rem, 6rem) rotateZ(60deg) scale(1.3);
    background: #aaccff;
    opacity: 0.6;
  }
  70% {
    transform: translate(20rem, 15rem) rotateZ(110deg) scale(1.5);
    background: #ddaaff;
    opacity: 0.3;
  }
  100% {
    transform: translate(30rem, 40rem) rotateZ(170deg) scale(1.8);
    background: #4422cc;
    opacity: 0.1;
  }
}

